@using Microsoft.AspNetCore.Mvc.Localization
@using CompanyName.ProjectName.Localization
@inject IHtmlLocalizer<ProjectNameResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
